@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap%27');

.sidebar{
    flex:1;
    height: calc(100vh - 60px);
    background-color: #d9113d;
}

.sideItem{
    color: #fff;
    list-style: none;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: -7%;
    margin-top: 3%;
    font-family: 'Alata', sans-serif;
}

