.container{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    padding: 30px;
    border-radius: 5px;
    min-width: 350px;
    min-height: 650px;
    box-sizing: border-box;
}

