.container{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    padding: 30px;
    border-radius: 5px;
    min-width: 350px;
    min-height: 650px;
    box-sizing: border-box;
    background-color: #fc1749f3;
}

.title{
    color: #fff;
    text-align: center;
    margin: 80px 0px 40px 0px;
}

.name, .email, .password{
    margin: 20px;
    color: #fff;
    font-size: 16px;
}

.password{
    margin-bottom: 40px;
}

.inputCadastro{
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
}