.container{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    padding: 30px;
    border-radius: 10px;
    min-width: 350px;
    min-height: 650px;
    box-sizing: border-box;
    background-color: #fc1749f3;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.6);
}

.title{
    color: #fff;
    text-align: center;
    margin: 80px 0px 40px 0px;
}

.name, .email, .password{
    margin: 20px;
    color: rgba(224, 221, 221, 0.877);
    font-size: 16px;
}

.password{
    margin-bottom: 40px;
}

.inputCadastro{
    height: 32px;
    font-size: 20px;
    color:#fff;
    outline: none;
    width: 100%;
    border-style: none;
    border-bottom: 2px solid #fff;
    margin-bottom:10px;
    background-color: #fc1749f3;
}

.submitCadastro{
    display:flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: #fc1749f3;
    padding: 10px 60px;
    margin: auto;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.1s;
    background-color: #fff;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.6);
}

button:active{
    transform: translateY(2px);
}
.form-success{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color: #fff;

}