.box{
    position: absolute;
    padding: 20px;
    left: 45%;
    top: 15%;
    background-color: #fc1749f3;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.6);
    border-radius: 10px;
    color:#fff;
    font-family: 'Alata', sans-serif;
    
}
fieldset{
    border: 2px solid #fff;
}

legend{
    text-align: center;
}

.inputBox{
    margin-bottom:10%;
    margin-top:5%;
}